.icon1 {
  width: 100%;
  height: 32.56rem;
  object-fit: cover;
}

.frameItem {
  position: absolute;
  top: 2.41rem;
  left: -0.16rem;
  border-top: 5px solid var(--color-darkorchid-100);
  box-sizing: border-box;
  width: 59.06rem;
  height: 0.31rem;
  opacity: 0.4;
}
.newGames {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  font-weight: 600;
  font-size: 2.2rem;
}
.lineParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58.75rem;
  height: 2.56rem;
}

.item {
  border-radius: 50%;
  border: 1px solid var(--color-white);
  /*background-color: var(--color-gainsboro);*/
  width: 3.44rem;
  height: 3.44rem;
}

.div {
  position: relative;
  width: 58.75rem;
  height: 100%;
  font-size: var(--oxanium-1-oxanium-main-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.discoverAndFind1 {
  font-size: 2.75rem;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  color: var(--color-white);
  font-family: var(--oxanium-1-oxanium-main);
}
.bgChild2 {
  top: 26.06rem;
  border-radius: var(--br-3xs);
  background-color: #f9f9f9;
  width: 31.31rem;
  height: 2.75rem;
  font-size: 1.5rem;
  padding-left: 3.5rem;
}
.searchIcon1 {
  position: absolute;
  left: 9rem;
  padding: 10px 0;
}


.desktop11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linearbelow {
  position: absolute;
  background: linear-gradient(
    360deg,
    #101010,
    rgba(16, 16, 16, 0.8) 27.68%,
    rgba(16, 16, 16, 0.5) 54.98%,
    rgba(16, 16, 16, 0.1) 80.76%,
    rgba(16, 16, 16, 0)
  );
  width: 100%;
  min-height: 32.75rem;
}
.below {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../public/MEMPHIS_BACKGROUND_Mesa_de_trabajo_1.png");
  background-repeat: initial;
  background-size: auto;
  height: 100%;
  gap: 7rem;
  padding-bottom: 2.5rem;
}

.headerimg {
  width: 100%;
}
.headerTxt {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10.88rem;
  width: 51.38rem;
  height: 10.13rem;
}

.txt {
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--oxanium-1-oxanium-main);
  cursor: pointer;
}

.arrowMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  cursor: pointer;
  gap: 5px;
}

.cardSpace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.container {
  position: relative;
  min-height: 100vh;
  font-family: var(--oxanium-1-oxanium-main);
  overflow: auto;
}

.genreWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: auto;
}















