.card{
    width: 18.69rem;
    height: 14rem;
    border-radius: var(--br-3xs);
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-white);

}

.card:hover{
    transform: scale(1.10);
}

.cardImage{
    width: 100%;
    min-height: 9rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--br-3xs);
}

.img{

    border-radius: var(--br-3xs);
    object-fit: cover;
}

.cardContent{
    width: 100%;
    min-height: 3rem;
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardTitle{
    font-family: var(--oxanium-1-oxanium-main);
    font-size: 1rem;
    color: var(--color-white);
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

.platform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.45rem;
}

.platformIcon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}