.carousel {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    border-radius: var(--br-3xs);
}

.imgCarousel{
    width: 700px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--br-3xs);

}

