.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9747ff;
  width: 100%;
  height: 6rem;
  bottom: 0;
  position: inherit;
}

.div3 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.vectorParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
  cursor: pointer;
  text-decoration: none;
}

.vectorIcon4 {
  position: relative;
  width: 1.81rem;
  height: 1.81rem;
}

.steam {
  position: relative;
  font-weight: 300;
  font-family: var(--oxanium-1-oxanium-main);
  color: var(--color-white);
  margin-top: 5px;
}
