.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 28rem;
  width: 26rem;
  background-color: #121212;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 0px 5px 5px 5px #656565;
}

.loginTxt{
  font-family: var(--oxanium-1-oxanium-main);
  font-size: var(--oxanium-1-oxanium-main-size);
  color: var(--color-white);
  margin-bottom: 1rem;
}

.input{
    width: 20rem;
    height: 2rem;
    border: none;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.inputTxt{
  font-family: var(--oxanium-1-oxanium-main);
  font-size: var(--oxanium-1-oxanium-menu-size);
  color: var(--color-white);
  padding-bottom: 0.5rem;
}

.bgChild{
  background-color: #121212;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-darkgray);
  color: var(--color-white);
  padding-left: 1rem;

}
.loginBtn{
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--color-darkorchid-100);
  color: var(--color-white);
  margin-top: 1rem;
  display: flex;
    justify-content: center;
    align-items: center;
  font-weight: bold;
  font-family: var(--oxanium-1-oxanium-main);

}

.registerLink{
    font-family: var(--oxanium-1-oxanium-main);
    font-size: var(--oxanium-1-oxanium-menu-size);
    color: var(--color-white);
    margin-bottom: 1rem;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btnGroup{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.txtBelow{
    font-family: var(--oxanium-1-oxanium-main);
    font-size: var(--oxanium-1-oxanium-menu-size);
    color: var(--color-white);
    margin-bottom: 1rem;
}